<div class="alert alert-secondary my-5" role="alert">
    <p>
        <strong>Warning!</strong> Presented results <b>are not</b> a promise of future profits!
        All they show is what <b>APPROXIMATE</b> amount of reward a person could receive <b>ON AVERAGE</b>
        in the selected period of time (specific year) <b>ONLY IF</b> actual behavior of the system
        would somewhat match WITH PARAMETERS SELECTED ABOVE!
    </p>
    <p>
        These results just <b>demonstrate</b> how the formula works, and the formula is <b>somewhat similar</b>
        to the one that will be used in the Cardano reward calculation protocol.
    </p>
</div>
