<div class="row">

    <div class="col-md-6">

        <p class="mb-3" style="color: grey; font-size: 0.8em">
            For a detailed explanation of how this whole thing works visit the 'Formula' tab in the top menu.
            Or visit the 'FAQ' page to find some common answers.
        </p>

        <h3>Define parameters:</h3>

    </div>

    <div class="col-md-6">

        <p class="mb-3" style="color: grey; font-size: 0.8em">
            {{#if swiper}}
            ( <kbd>&larr;</kbd> <kbd>&rarr;</kbd> arrow keys may be used to slide groups)<br/>
            {{/if}}
            ( <kbd>&uarr;</kbd> <kbd>&darr;</kbd> arrow keys may be used in the input fields)<br/>
        </p>

    </div>

</div>
